<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Best Fitness Tracker / Diary </title>
</head>

<body>

    <div class="userWorkout">

        <div class="entry">
            <form class="newWorkout">
                <label for="name">What are you going to workout? </label>
                <input type="text" id="reg-name-input" placeholder="Workout Name">
                <button type="submit"> Submit </button>
            </form>
        </div>
    </div>


    {{{body}}}

    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="/assets/js/index.js"></script>


</body>

</html>